
@(historyItems : java.util.Collection[PaddingHistoryItem])

@main("Padding history") {
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Before</th>
				<th>After</th>
			</tr>
		</thead>
		<tbody>
			@for(historyItem <- historyItems) {
			<tr>
				<td>
					<a style="display: block;" href="@routes.PaddingHistoryController.showHistory(historyItem.id)">@historyItem.id</a>
				</td>
				<td>@historyItem.originalString</td>
				<td>@historyItem.paddedString</td>
			</tr>
			}
		</tbody>
	</table>
	
}