
@(historyItem : PaddingHistoryItem)


@main("History item $historyItem.id") {
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label">Id</label>
			<div class="col-sm-10">
				<input disabled="true" type="text" class="form-control" value="@historyItem.id">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Before</label>
			<div class="col-sm-10">
				<input disabled="true" type="text" class="form-control" value="@historyItem.originalString">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">After</label>
			<div class="col-sm-10">
				<input disabled="true" type="text" class="form-control" value="@historyItem.paddedString">
			</div>
		</div>
	</form>
}