@(paddingForm: Form[controllers.PadderController.PaddingForm])


<h1>Hello, traveller!</h1>
<p>This application can leftpad strings!</p>

@implicitField = @{ helper.FieldConstructor(padderAppFieldTemplate.f) }
	
@helper.form(action = routes.PadderController.doPaddingWithForm()) {
	
	@helper.CSRF.formField
	@helper.inputText(paddingForm("textToPad"), '_label -> "Text to pad")
	@helper.inputText(paddingForm("paddingResult"), '_label -> "Padding result")
	<input type="submit" value="Pad!">
	
}
