@(elements: helper.FieldElements)

<div class="form-group @if(elements.hasErrors) {has-error}">
	<label class="control-label" for="@elements.id">@elements.label</label>
	<input id="@elements.id" type="text" placeholder="@elements.infos.mkString(",")" class="form-control" name="@elements.name" value="@elements.field.value">
	<label class="control-label" for="@elements.id">@elements.errors.mkString(",")</label>
</div>
